.card{
    margin: 5% 13%;
}
.card h1{
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    margin-top: 8%;
}
.cardelement{
    display: flex;
    justify-content: space-between;
    margin-top: 6.5%;
}
.cardelement img{
    width: 352px;
    height: 200px;
}
.cardelement h5{
    font-size: 20px;
    font-weight: 500;
    color: #1A181E;
    margin-top: 5%;
}
.cardelement p{
    color: #4D4D4D;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3%;
}
.card-display{
    width: 352px;
}